/* Recipe-Pages */

@font-face{ 
	font-family: 'Reey';
	src: url('../Fonts/reey/Reey-Regular.otf');
	src: url('../Fonts/reey/Reey-Regular.otf') format('eot'),
	     url('../Fonts/reey/Reey-Regular.woff') format('woff'),
	     url('../Fonts/reey/Reey-Regular.otf') format('truetype'),
	     url('../Fonts/reey/Reey-Regular.svg') format('svg');
}

@font-face{ 
	font-family: 'Harting';
	src: url('../Fonts/Harting/Harting_plain.ttf');
	src: url('../Fonts/Harting/Harting_plain.ttf') format('eot'),
	     url('../Fonts/Harting/Harting_plain.woff') format('woff'),
	     url('../Fonts/Harting/Harting_plain.ttf') format('truetype'),
	     url('../Fonts/Harting/Harting_plain.svg') format('svg');
} 

@font-face{ 
	font-family: 'Caroni';
	src: url('../Fonts/caroni/Caroni-Regular.otf');
	src: url('../Fonts/caroni/Caroni-Regular.otf') format('eot'),
	     url('../Fonts/caroni/Caroni-Regular.woff') format('woff'),
	     url('../Fonts/caroni/Caroni-Regular.otf') format('truetype'),
	     url('../Fonts/caroni/Caroni-Regular.svg') format('svg');
} 

@font-face{ 
	font-family: 'Daniel';
	src: url('../Fonts/daniel/Daniel-Black.otf');
	src: url('../Fonts/daniel/Daniel-Black.otf') format('eot'),
	     url('../Fonts/daniel/Daniel-Black.woff') format('woff'),
	     url('../Fonts/daniel/Daniel-Black.otf') format('truetype'),
	     url('../Fonts/daniel/Daniel-Black.svg') format('svg');
} 

body {
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-size: cover;
    background-image: url(../v800-mynt-25.jpg);  
}

a {
    color: white;
    text-decoration: none;
    font-family: "Daniel",Arial;
}

a:hover {
    color: #a0918d;
    text-decoration: none;
}
dt {
    text-align: center;
    font-family: "Daniel",Arial;
    margin-bottom: 30px;
}    

h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: "Reey",Arial;
    background-color: #8f7b757c;
    text-align: center;
    margin-bottom: 80px;
}

h2 {
    color: white;
    background-color: #cbc2ba77;
    font-family: "Harting",Arial;
    text-align: center;
    font-size: 30px;
}

h3 {
    background-color: #bfa79f8e;
    color: white;
    font-family: "Harting",Arial;
    text-align: center;
    font-size: 25px;
}

h4 {
    color: #86756f;
    font-family: "Caroni",Arial;
    text-align: center;
    font-size: 25px;
}

h6 {
    margin-top: 200px;
    color: white;
    font-family: "Daniel",Arial;
}

dd {
    color: #796d69;
    font-family: "Caroni",Arial;
    text-align: center;
    font-size: 25px;
}

li {
    color: #796d69;
    font-family: "Caroni",Arial;
    text-align: left;
    font-size: 20px;
}