/* Recipes online */

body {
    background-color: rgb(243, 238, 232);
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: fantasy;
    background-color: rgb(124, 101, 85);
    text-align: center;
}

.link {
    color: rgba(202, 163, 163, 0.74);
    font-family: fantasy;
}
button {
    text-align: center;
    @font-face {
        font-family: "ElliotSix";
    }
    }
}