/* Recipe-Pages StyleSheet*/

/* Fonts */
@font-face{ 
	font-family: "Reey";
	    src: url("../Fonts/reey/Reey-Regular.woff") format("woff");
}

@font-face{ 
	font-family: "Bonveno";
	src: url("../Fonts/BonvenoCF-Light.woff") format("woff");
}

@font-face{ 
	font-family: "Harting";
	src: url("../Fonts/Harting_plain.woff") format("woff");
}

@font-face{ 
	font-family: "Caroni";
	src: url("../Fonts/Caroni-Regular.woff") format("woff");
}
/* Page layout */

body {
    margin: 0;
    height: 100%;
    background-image: url('../v800-mynt-25.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex:1;
    gap: 20px;
}

.header {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.headerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}

.headerLinks {
    display: flex;
    width: 100%;
    min-height: 48px;
    justify-content: space-between;
    align-items: center;
    flex:1;
    background-color: #86756f;
}

/* This still needs fixing to make it look nicer */
.leftLinks{
    flex:1;
}

.rightLinks {
    flex: 2;
} 


.hero {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.heroImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
img {
    width: 100vh;
}
.heroComment {
    padding: 30px;
    margin: 10px;
    width: 100%;
    text-align: center;
    background-color: #86756f40;
    font-family: "Bonveno",Arial;
    font-weight: 900;
    font-size: 20px;
}

.heroInfo {
    padding: 20px;
    text-align: center;
    font-family: "Caroni",Arial;
    font-size: 22px;
    font-weight: 800;
}

.ingredients {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.ingredientsTitle {
    background-color: #86756f40;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-family: "Harting",Arial;
    font-weight: 900;
    font-size: 40px;
}

.ingredientsInfo {
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Caroni",Arial;
    font-size: 22px;
    font-weight: 800;
}
/* Create the list so that there is space between the amount needed and the item it self */
.ingredientsList{
    text-align: center;
    line-height: 1.8;
    font-family: "Harting",Arial;
    font-size: 20px;

}
.recipeSteps {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.stepsTitle {
    background-color: #86756f40;
    padding: 20px;
    margin: 10px;
    width: 100%;
    text-align: center;
    font-family: "Harting",Arial;
    font-weight: 900;
    font-size: 40px;
}

.stepsList {
    list-style-type: number;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Caroni",Arial;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.8;
}

.footer {
    background-color: #8f7b757c;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: "Reey", Arial;
    color: #5c504c;
    min-height: 40px;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Daniel",Arial;
}

a:hover {
    color: #a0918d;
    text-decoration: none;
}
dt {
    text-align: center;
    font-family: "Daniel",Arial;
    margin-bottom: 30px;
}    

h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: "Reey",Arial;
    background-color: #8f7b757c;
    text-align: center;
    margin-bottom: 80px;
}

h2 {
    color: white;
    background-color: #cbc2ba77;
    font-family: "Harting",Arial;
    text-align: center;
    font-size: 30px;
}

h3 {
    background-color: #bfa79f8e;
    color: white;
    font-family: "Harting",Arial;
    text-align: center;
    font-size: 25px;
}

h4 {
    color: #86756f;
    font-family: "Caroni",Arial;
    text-align: center;
    font-size: 25px;
}

h6 {
    margin-top: 200px;
    color: white;
    font-family: "Daniel",Arial;
}

dd {
    color: #796d69;
    font-family: "Caroni",Arial;
    text-align: center;
    font-size: 25px;
}

li {
    color: #796d69;
    font-family: "Caroni",Arial;
    text-align: left;
    font-size: 20px;
}